.env*
*/.env*
logs/*
.vscode
.coverage
.git
.pytest_cache
__pycache__
btt/__pycache__/
*.sqlite
venv/
flask_session/
.flaskenv
.env
*.pyc
*.pyo
*.db
htmlcov
pytest.log
docker-compose.override.yml
.venv
