[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
bokeh = "*"
Flask-Script = "*"
Flask-Bootstrap = "*"
Flask-Moment = "*"
Flask-Login = "*"
passlib = "*"
Flask-WTF = "*"
Flask-Mail = "*"
Flask-Session = "*"


[dev-packages]



[requires]

python_version = "3.6"
