[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Werkzeug = "*"
flask = "*"
bokeh = "*"
flask-script = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-login = "*"
passlib = "*"
flask-wtf = "*"
flask-mail = "*"
py-dateutil = "*"
flask-sqlalchemy = "*"
nltk = ">=3.6.4"
scikit-learn = "*"
scipy = "*"
"psycopg2-binary" = "*"
flask-migrate = "*"
python-dotenv = "*"
pytest = "*"
gunicorn = "*"
flask-paranoid = "*"
itsdangerous = "*"
email-validator = "*"
flask-session2 = "*"

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pycodestyle = "*"
black = "*"

[requires]
python_version = "3.9"
