{% extends "base.html" %}

{% block title %}PFT{% endblock %}

{% block page_content %}

<h2>Accounts:</h2>
<table class="table table-striped table-bordered table-hover table-responsive">
    <tr>     
        <th>Account No.</th>
        <th>Account Name</th> 
        <th class="right">Initial Balance</th>
    </tr>

   {% for account in accounts %}         

   <tr>
       <td class="accNo">{{account.accno}}</td>
       <td>{{account.accname}}</td>
       <td class="right">{{account.balance}}</td>
    </tr>

   {% endfor %}         

</table>         

{% endblock %}

