{% extends "base.html" %}

{% block title %}PFT{% endblock %}

{% block page_content %}

<h2>Categories:</h2>
<table class="table table-striped table-bordered table-hover table-responsive">
    <tr>     
        <th>Category No.</th>
        <th>Category Name</th> 
        <th>Category Type</th>
    </tr>

   {% for category in categories %}         

   <tr>
       <td class="catNo">{{category.catno}}</td>
       <td>{{category.catname}}</td>
       <td>{{category.cattype}}</td>
    </tr>

   {% endfor %}         

</table>         

{% endblock %}




