{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PFT{% endblock %}

{% block page_content %}

<h2>Process Uploaded Transactions: </h2>
<form class="form form-horizontal" method="post" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

{% for classification in form.classifications %}
    <div class="col-md-1">
    {{ wtf.form_field(classification.form.name) }}
    </div>
{% endfor %}
</div>

</form>

{% endblock %}
