{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PFT{% endblock %}

{% block head %}
{{ super() }}
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js">
</script>

{{graph[0]|safe}}

{% endblock %}


{% block page_content %}
<h4>{{report_name}}:</h4>

<div class="row">
  <div class="col-md-5 nopadding">
      {{graph[1]|safe}}
  </div>

  <div class="col-md-2">

    <form class="form form-horizontal" method="post" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.start_date)}}

        {{ wtf.form_field(form.end_date)}}

        {% if report_name == 'Account Balances' %}
        {{ wtf.form_field(form.account_name)}}
        {% else %}
        <div class="hidden">
        {{ wtf.form_field(form.account_name)}}
        </div>
        {% endif %}

        {{ wtf.form_field(form.refresh)}}

    </form>

  </div>


    {% if graph[2] %}
    <div class="col-md-3">
        <h4>Full Details:</h4>
        <table class="table table-striped table-bordered table-hover table-responsive">
                <tr>
                    <th>Expense</th>
                    <th>Percentage</th>
                </tr>
            {% for item in graph[2] %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                </tr>
            {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
