{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BTT{% endblock %}

{% block page_content %}

<h2>Modify Group: </h2>

    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        <div class="row">
        <div class="col-md-6">
        {{ wtf.form_field(form.group_name) }}
        </div>
        </div>

        <div class="row">
        <div class="col-md-12">
        {{ wtf.form_field(form.modify) }}
        {{ wtf.form_field(form.cancel) }}
        </div>
        </div>

    </form>

{% endblock %}
