<?xml version="1.0" encoding="UTF-8"?>
<!--
<?php
   session_start();
   if(!isset($_SESSION['user'])) { // If user is not logged in
      header("Location: login.php"); // Redirect to login page
   }
?>
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
   <!-- Set width of the page to width of device screen and set initial zoom level -->    
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
   <!-- Enable style sheet -->   
   <link rel="stylesheet" title="Site Style" href="/static/style.css" type="text/css"/>
   <!-- jQuery -->
   <script src="jquery-3.1.0.min.js"></script>
   <script src="jquery-funcs.js"></script>
   <!-- Set title for browser toolbar etc -->   
   <title>BAM</title>
</head>
<body>
   <!-- Heading banner with logo, text and buttons -->   
   <header>   
      <h1>
         <img class="logo" src="/static/logo.png" width="30" height="28" alt="$"/>
         Bank Account Manager 
         <a href="logout.php"><button class="banner">Log Out</button></a>
<!--
         <?php 
            $user = $_SESSION['user']; 
            if ($user == 'demo') {
               echo '<span class="user" >Logged in as ' . htmlentities($user) . ' (50 transactions, 4 accounts only)</span>';
            }
            else {
               echo '<span class="user" >Logged in as ' . htmlentities($user) . '</span>';
            } 
         ?>
-->         
      </h1>
   </header>

<!--

<?php
   $index = $accounts = $transactions = $businesses = $categories = $reports = "";   
   
   $script = htmlspecialchars($_SERVER['PHP_SELF']);
   
   // Use CSS to highlight the relevant menu item for the page being displayed
   if (preg_match("/index.php/", $script)) {
      $index = 'class="active"';
   }
   else if (preg_match("/accounts.php/", $script)) {
      $accounts = 'class="active"';
   }
   else if (preg_match("/transactions.php/", $script)) {
      $transactions = 'class="active"';
   }   
   else if (preg_match("/addTransaction.php/", $script)) {
      $transactions = 'class="active"';
   }   
   else if (preg_match("/modTransaction.php/", $script)) {
      $transactions = 'class="active"';
   }   
   else if (preg_match("/uploadTransactions.php/", $script)) {
      $transactions = 'class="active"';
   }   
   else if (preg_match("/businesses.php/", $script)) {
      $businesses = 'class="active"';
   }   
   else if (preg_match("/categories.php/", $script)) {
      $categories = 'class="active"';
   }   
   else if (preg_match("/reports.php/", $script)) {
      $reports = 'class="active"';
   }   

// Navigation menu   
print <<<EOT
   <div class="row">
   <nav>   
      <ul class="menu">
         <li class="col-1"><a {$index} href="index.php">Home</a></li>
         <li class="col-1"><a {$accounts} href="accounts.php">Accounts</a></li>
         <li class="col-1"><a {$transactions} href="transactions.php">Transactions</a></li>
         <li class="col-1"><a {$businesses} href="businesses.php">Businesses</a></li>
         <li class="col-1"><a {$categories} href="categories.php">Categories</a></li>
         <li class="col-1"><a {$reports} href="reports.php">Reports</a></li>
      </ul>
   </nav>  
   </div>
EOT;

?>

-->