{% include 'header.html' %}

<div class="row">   
<section class="col-12">
<section class="display">
<h2>Transactions:</h2>

<table>
    <tr>     
        <th>Trans No.</th>
        <th>Date</th> 
        <th>Category</th>
        <th>Type</th>
        <th>Business</th>
        <th>Account</th>
        <th class="right">Amount</th>
    </tr>

   {% for transaction, category, business, account in transactions %}         

   <tr>
       <td class="transNo">{{transaction.transno}}</td>
       <td>{{transaction.date}}</td>
       <td>{{category.catname}}</td>
       <td>{{category.cattype}}</td>
       <td>{{business.busname}}</td>
       <td>{{account.accname}}</td>
       <td class="right">{{transaction.amount}}</td>
    </tr>

   {% endfor %}         

</table>         
       
</section>
</section>
</div>
</body>
</html>
