{% include 'header.html' %}

<div class="row">   
<section class="col-12">
<section class="display">
<h2>Latest Transactions:</h2>
<table>
    <tr>     
        <th>Trans No.</th>
        <th>Date</th> 
        <th>Category</th>
        <th>Type</th>
        <th>Business</th>
        <th>Account</th>
        <th class="right">Amount</th>
    </tr>
            
   {% for transaction in transactions %}         

   <tr>
       <td class="transNo">
           <form class="cell" action="modTransaction.php" method="post">
               <input type="hidden" name="tableToken" value="$tableToken"/> 
               <input type="hidden" name="transNo" value="{{transaction.transno}}">
               <input class="cell" type="submit" name="transNoSubmit" value="{{transaction.transno}}">
           </form>               
       </td>
       <td>{{transaction.date}}</td>
       <td>{{transaction.catno}}</td>
       <td></td>
       <td>{{transaction.busno}}</td>
       <td>{{transaction.accno}}</td>
       <td class="right">{{transaction.amount}}</td>
    </tr>
            


   {% endfor %}         
</table>         

         
<!--         <?php 
            $startDate = date('Y-m-d\TH:i', mktime(0, 0, 0, date("m")-1, date("d"), date("Y"))); // One month ago   
            $endDate = date('Y-m-d\TH:i'); // Now
            // Show transactions that have occurred during the last month            
            displayTransactions($startDate, $endDate, getBusinesses(), getCategories(), getAccounts());
         ?>
-->
      </section>
   </section>
</div>
</body>
</html>
