<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">   
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <link rel="stylesheet" title="Site Style" href="/static/style.css" type="text/css"/>
   <title>PFT: Login</title>
</head>
<body>

<header>   
   <h1><img class="logo" src="/static/logo.png"  width="30" height="28" alt="$"/> Personal Finance Tracker</h1>
</header>

<!-- Form for entering login details -->
<div class="row">
   <div class="col-3">&#160;</div>
   <!-- Login form -->
   <div class="col-6">
   

    {% if session['logged_in'] %}
    <p>You're logged in already!</p>
    {% else %}
    <form action="/login" method="post">
      <fieldset>
         <legend>Login:</legend>         
<!--         <input type="hidden" name="token" value="<?php echo $token ?>"/> -->
         <label for="username">Username</label>
         <input type="text" id="username" name="username" value="" autocomplete="off" autofocus="autofocus" required="required" maxlength="20" />
         <label for="password">Password</label>
         <input type="password" id="password" name="password" value="" required="required" maxlength="20" />
         <input type="submit" value="Login" />
      </fieldset>
    </form>
    {% endif %}

    <p class="centre">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>


   </div>
   <div class="col-3">&#160;</div>
</div>

</body>
</html>
