{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BTT{% endblock %}

{% block page_content %}

<h2>Process Uploaded Transactions: </h2>
<form class="form form-horizontal" method="post" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  <div class="col-md-12">
  {{ wtf.form_field(form.add) }}
  {{ wtf.form_field(form.cancel) }}
  {{ wtf.form_field(form.date_format) }}
  </div>

  <table class="table table-striped table-bordered table-hover">

  <tr>
  {% for classification in form.col_classifications %}
      <th><div class="col-xs-12">{{ wtf.form_field(classification.form.column_label) }}</div></th>
  {% endfor %}
  <th>Category</th>
  <th>Action</th>
  </tr>


 {% for transno in range(num_transactions) %}

  <tr>
      {% for field in transactions[transno] %}
      <td>{{ field }}</td>
      {% endfor %}
      <td><div class="col-xs-12">{{ wtf.form_field(form.row_classifications[transno].form.category_name)}}</div></td>
      <td><div class="col-xs-12">{{ wtf.form_field(form.row_classifications[transno].form.action)}}</div></td>
  </tr>

 {% endfor %}

  </table>

  <div class="col-md-12">
  {{ wtf.form_field(form.add) }}
  {{ wtf.form_field(form.cancel) }}
  </div>

</form>

{% endblock %}
